html {
  height: 100%;
  width: 100%;
}
* {
  color: darkcyan;

  
}
header {
  text-align: center;
  border: 5px solid pink;
  margin: 40px;
  background-color: hotpink;
  font-size: large;
}

table{
  margin: 0 auto;
  border: 2px solid hotpink;
  text-align: left;
}
th {
  background-color: deeppink;
  
}

td {
  background-color: hotpink;
 
}

button {
  margin: 0 auto;
  margin-bottom: 25px;
  border: 2px hotpink;
}

nav {
  background-color: hotpink;
}

#love-cats {
  background-color: pink;
}

main {
  margin-inline: 10%;
  font-size: medium;
}

footer {
  border: 4px solid pink;
  font-size: small;
}

* {text-align: center;}

.paragraph-1 {
  margin: 0 auto;
  padding: 5px auto;
  font-size: larger;
}

li {
  margin: 0 auto;
  padding: 2px;
  
}

.things-cat {
  position:relative;
  margin-inline: 5px;
  background-color: hotpink;
  list-style-position: inside;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 25px;
  
}